/* AddSaldo.css */
.add-saldo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.add-saldo-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.add-saldo-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.search-user-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20%;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
}

.credentials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

label {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  width: 50%;
  padding: 5px;
  font-size: 16px;
  margin-bottom: 10px;
}

button {
  width: auto;
  padding: 5px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

button:hover {
  background-color: #3e8e41;
}

.error {
  width: 50%;
  padding: 10px;
  font-size: 16px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  text-align: center;
}