.img-container {
  width: 20%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  img {
    width: 100%;
    height: auto;
    border-radius: 5px 5px 0 0;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 10px;
  color: #fff;
  padding: 10px;
  padding-bottom: 0px;
  padding-top: 2.8%;
  padding-right: 0;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: end;
  gap: 2%;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.logo {
  transition: 0.2s;
  width: 13vh;
  height: 13vh;
  object-fit: cover;
  position: absolute;
  top: 0%;
  left: 5%;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  background: white;
}

.navbar-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  margin-right: 20px;
}

.navbar-links a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.navbar-links a:hover {
  color: #ccc;
}

.navbar-logout {
  background-color: #f00;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.navbar-logout:hover {
  background-color: #c00;
}

@media screen and (max-width:1138px){
  .logo{
    background: none;
  }
}