/*?CSS TO ALL*/
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font {
  font-family: "Poppins", sans-serif;
}

.font::placeholder {
  font-family: "Poppins", sans-serif;
}

/*?CSS RELATED TO HOME LAYOUT*/

.home-layout-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url("../../imagenes/fondo5.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

/*?CSS RELATED TO NAVBAR COMPONENT*/

.home-navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  width: 100%;
  height: 14%;
  position: sticky;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  left: 0;
  top: 0;
  right: 0;
  font-family: "Poppins", sans-serif;
  padding-top: 3%;
}

.home-navbar {
  color: white;
}

.home-navbar ul,
.home-navbar .home-logotipo {
  margin: 0;
  height: 100%;
}

.home-logo {
  position: absolute;
  top: 0;
  left: 2%;
  width: 200px;
  height: 190px;
  padding: 1%;
}

.home-logotipo {
  display: none;
  align-items: center;
  justify-content: center;
  min-width: 20%;
  height: 100%;
  font-size: 200%;
  font-weight: bold;
  color: #000000;
  font-family: "Lexend", sans-serif;
}

.home-buttons-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 40%;
  height: 100%;
  border: 0px solid #000000;
  padding-right: 2%;
}

.home-buttons-container li:first-child {
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-buttons-container a {
  position: relative;
  right: 0;
  border: 2px solid #ee6107;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
}

.home-buttons-container a:hover {
  border: 1px solid #00000000;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  background: #ee6107;
  color: white;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
}

/*.home-login-button {
}

.home-register-button {
}*/

.active {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 5px;
  fill: #f99a56;
  text-align: center;
  color: #f99a56;
  font-weight: bold;
}

.active_btn {
  border: 1px solid #00000000;
  background: #ee6107;
  color: white;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
}

/*?CSS RELATED TO ABOUT US COMPONENT*/

/*?CSS RELATED TO CONTACTS COMPONENT*/

/*?CSS RELATED TO HOME COMPONENT*/

.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 82%;
  position: relative;
}

.home-text {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: first baseline;
  padding: 5%;
  height: 100%;
  font-size: 20px;
  padding-bottom: 8%;
}

.home-title {
  font-family: "Poppins", sans-serif;
  width: 100%;
  text-align: left;
  font-weight: bold;
  color: #ffffff;
  font-size: 3.5rem;
}

.home-text-desc {
  font-family: "Poppins", sans-serif;
  width: 60%;
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 1.5;
  text-align: justify;
  color: white;
}

/*?RELATED TO FOOTER COMPONENT*/

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  height: max-content;
  width: 100%;
  /*position: relative;*/
  left: 0;
  bottom: 0;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 1%;
  font-weight: bolder;
  font-family: "Lexend", sans-serif;
  height: 8%;
}
.home-listnav {
  display: flex;
  gap: 20px;
  font-size: 1.2rem;
  width: 50%;
  justify-content: space-between;
  color: white;
}
.home-listnav svg {
  fill: white;
}
.home-listnav li {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-listnav li a {
  text-align: center;
}
.icon_nav {
  height: 25%;
}
.icon_navbar {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 5px;
  text-align: center;
}
.nav_options {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: end;
  padding-right: 1.5%;
}
.icon_menu {
  display: none;
}

.slide-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  background: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transform: translateX(110%);
  transition: transform 0.3s ease;
  z-index: 200;
  background-color: #333;
  height: 100%;
}

.slide-menu.open {
  transform: translateX(0);
}

.home-listnav_menu {
  display: flex;
  gap: 20px;
  font-size: 1.2rem;
  width: 100%;
  flex-direction: column;
}

.icon_cross {
  position: relative;
  height: 3%;
  right: -45%;
  top: 10px;
  fill: #fff;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.About_us {
  display: flex;
  color: white;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  padding: 1%;
  gap: 60px;
  padding-top: 50px;
}

.About_us div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-family: "Poppins", sans-serif;
  gap: 20px;
}

.About_us div section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-family: "Poppins", sans-serif;
  gap: 20px;
}

.About_us div section span:first-child {
  font-size: 5rem;
  color: #f99a56;
}

.About_us div section span:last-child {
  font-size: 1.5rem;
}

.cont_obj {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.cont_obj section {
  display: flex;
  flex-direction: column;
  width: 30%;
  font-size: 1.8rem;
  text-align: center;
  border-radius: 210px;
  padding-bottom: 10%;
  -webkit-border-radius: 210px;
  -moz-border-radius: 210px;
  -ms-border-radius: 210px;
  -o-border-radius: 210px;
}

.cont_obj span {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
}

.cont_obj section:first-child {
  background: #8a522f;
}

.cont_obj section:nth-child(2) {
  background: #592607;
}

.cont_obj section:last-child {
  background: #2b1000;
}

.tt_obj {
  font-size: 5rem;
  width: 100%;
  text-align: center;
}

.val_cont {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.val_cont section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 15px;
  width: 30%;
  font-size: 1.6rem;
  padding: 2%;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.val_cont section:first-child {
  background: #2b1000;
}

.val_cont section:nth-child(2) {
  background: #592607;
}

.val_cont section:last-child {
  background: #8a522f;
}

.val_cont section span:first-child {
  font-weight: bold;
}

.pol_cont {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
}

.pol_cont span {
  width: 90%;
  text-align: justify;
  background-image: linear-gradient(#472e1f, #f08441, #fe7b2a);
  font-size: 1.5rem;
  padding: 2%;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.form_support {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../../imagenes/morales.png);
  color: white;
  font-family: "Poppins", sans-serif;
  padding: 2%;
  filter: brightness(1.8);
  -webkit-filter: brightness(1.2);
  gap: 1%;
  height: 75%;
  width: 40%;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.form_support form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

.form_support form div {
  display: flex;
  flex-direction: column;
}

.form_support form div textarea{
  height: 20vh;
  resize: none;
  padding: 2%;
  outline: none;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.form_support form div select{
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-size: 1.3rem;
}

.form_support form button {
  position: relative;
  right: 0;
  border: 2px solid #ee6107;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
  background: none;
  font-size: 1.5rem;
  transition: 0.3s;
}

.form_support form button:hover {
  border: 1px solid #00000000;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  background: #ee6107;
  color: white;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
}

.code_verify{
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  justify-content: center;
  align-items: center;
  color: black;
  background: white;
  height: 80%;
  padding: 5%;
  width: 35%;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  justify-content: space-between;
}

.code_verify h1, .code_verify section{
  width: 100%;
  text-align: center;
}

.code_verify button {
  position: relative;
  right: 0;
  border: 2px solid #ee6107;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
  background: none;
  font-size: 1.5rem;
  transition: 0.3s;
  color: #000000;
}

.code_verify button:hover {
  border: 1px solid #00000000;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  background: #ee6107;
  color: white;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
}
.btns_capr2{
  justify-content: end!important;
}
.btns_capr2 button{
  background: none!important;
}
@media screen and (max-width: 1138px) {
  .nav_options {
    display: none;
  }
  .home-text-desc {
    width: 100%;
  }
  .home-title {
    font-size: 2.5rem;
  }
  .home-layout-container {
    height: 100vh;
  }
  .home-text {
    justify-content: unset;
    margin-top: 11vh;
  }
  .home-container {
    flex-direction: column;
  }
  .home-logo {
    width: 10vh;
    height: 10vh;
  }
  .home-navbar {
    height: 10vh;
    position: fixed;
    z-index: 1000;
  }
  .footer-container {
    height: 8vh;
  }
  .icon_menu {
    display: block;
    height: 35%;
    margin-right: 7%;
    fill: #fff;
  }
  .icon_navbar {
    width: 100%;
    margin: 0;
    fill: #fff;
  }
  li {
    height: 10%;
    width: 100%;
    align-items: center;
  }
  .home-buttons-container {
    width: 100%;
    flex-direction: column;
    padding: 0;
    height: auto;
  }
  .home-buttons-container li:first-child {
    width: 100%;
  }
  .home-buttons-container li:last-child {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .home-buttons-container a {
    width: 90%;
    margin-bottom: 10%;
    text-align: center;
  }
}
