/*?CSS TO ALL*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

/*?CSS RELATED TO HOME LAYOUT*/

.home-layout-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #FFFFFF;
  overflow-x: hidden;
}

/*?CSS RELATED TO NAVBAR COMPONENT*/

.home-navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  position: sticky;
  background-color: #FFFFE0;
  border: 1px solid #888888;
  left: 0;
  top: 0;
  right: 0;
}

.home-navbar {

}

.home-navbar ul, .home-navbar .home-logotipo {
  margin: 0;
  padding-left: 2%;
  padding-right: 2%;
  height: 100%;
}

.home-logotipo {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 20%;
  height: 100%;
  font-size: 200%;
  font-weight: bold;
  color: #000000;
}

.home-buttons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 20%;
  height: 10%;
  border: 0px solid #000000;
  margin-left:auto;
}

.home-buttons-container a {
  position: relative;
  right: 0;
  border: 1px solid #000000;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
  background-color: ;

}

.home-login-button {}

.home-register-button {}

a {
  color: red;
  border-right: ;: green;
}

.active {
  color: purple;
}

/*?CSS RELATED TO ABOUT US COMPONENT*/

/*?CSS RELATED TO CONTACTS COMPONENT*/

/*?CSS RELATED TO HOME COMPONENT*/

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: auto;
  height: auto;
}

.home-text {
  display: flex;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: 20px;
}

/*?RELATED TO FOOTER COMPONENT*/

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: max-content;
  width: 100%;
  background-color: lightgray;

  position: relative;
  left: 0;
  bottom: 0;
  color: black;
  text-align: center;
}