.card-producto {
  width: 300px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 1rem;
  padding: 1rem;
  text-align: center;
}

.card-producto div {
  margin: 0;
  margin-bottom: 0.5rem;
}

.card-producto a {
  display: block;
  background-color: #333;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 1rem;
}

.card-producto a:hover {
  background-color: #555;
}

.card-producto div {
  margin: 0;
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  font-weight: bold;
} 
.card-producto img {
  width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0;
}