.card-producto{
  position: relative;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  border-radius: 20% 20% 0 0;
  -webkit-border-radius: 20% 20% 0 0;
  -moz-border-radius: 20% 20% 0 0;
  -ms-border-radius: 20% 20% 0 0;
  -o-border-radius: 20% 20% 0 0;
}

.card-producto a {
  display: block;
  background-color: #333;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 1rem;
}

.card-producto a:hover {
  background-color: #555;
}

.card-producto div {
  margin: 0;
  margin-bottom: 0.5rem;
} 
.name_procard{
  font-size: 1.8rem;
  font-weight: bold;
}
.pre_procard{
  font-size: 1.2rem;
  font-weight: bold;
}
.card-producto img {
  width: 80%;
  height: 78%;
  border-radius: 5px 5px 0 0;
  position: absolute;
  left: 10%;
  top: -35%;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}