.card-producto{
  position: relative;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

.card-producto a {
  text-decoration: none;
  margin-top: 1rem;
}

.card-producto div {
  margin: 0;
  margin-bottom: 0.5rem;
} 
.name_procard{
  font-size: 1.8rem;
  font-weight: bold;
}
.pre_procard{
  font-weight: bold;
  width: 30%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background: #ee6107;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1%;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  color: white;
}