.cart-producto {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  height: 40%;
  width: 100%;
  gap: 1%;
}

.cart-producto:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.des_pro_cart .nombre{
  width: 20%;
  font-size: 1.3rem;
}

.des_pro_cart div:nth-child(2){
  width: 40%;
  font-size: 0.8rem;
}

.des_pro_cart .costo{
  width: 15%;
}

.des_pro_cart .disponibilidad{
  width: 10%;
}

.des_pro_cart button{
  width: 5%;
}

.des_pro_cart .tiempo-preparacion{
  width: 10%;
}

.des_pro_cart .id{
  width: 1%;
  display: none;
}

.des_pro_cart .id-Cafeteria{
  display: none;
}

.cart-producto div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-producto .id {
  font-weight: bold;
  font-size: 1.2rem;
}

.nombre {
  font-size: 3rem;
  font-weight: bold;
}

.cart-producto .descripcion {
  font-size: 1rem;
}

.text_desc_pro{
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.descripcion {
  background: #ffb276;
  width: 90%;
  padding: 2%;
  height: 30%;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  overflow-y: scroll;
}

.descripcion::-webkit-scrollbar {
  width: 5px;
}

.descripcion::-webkit-scrollbar-thumb {
  background: #ffffff; 
  border-radius: 6px;
}

.costo{
  font-size: 1.5rem;
}

.cart-producto button {
  color: white;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.cart-producto button:hover {
  transform: translateY(-3px);
  background-color: #555;
}

.reliz_pedido{
  background: white;
  border: 2px solid #ee6107;
  color: black;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.reliz_pedido:hover{
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  color: white;
  font-weight: bold;
}