.cart-producto {
  display: flex;
  align-items: center;
  padding: 10px;
  height: 50%;
  width: 100%;
  gap: 1%;
}

.cart_pro_info:hover {
  transition: 0.2s;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  background: white;
}


.cart_pro_info{
  width: 89%;
  background-color: #e5e9ea;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #9d9d9d;
  overflow: hidden;
}

.des_pro_cart .nombre {
  width: 20%;
  font-size: 1.3rem;
}

.des_pro_cart div:nth-child(2) {
  width: 40%;
  font-size: 0.8rem;
}

.des_pro_cart .costo {
  width: 15%;
}

.des_pro_cart .disponibilidad {
  width: 10%;
}

.des_pro_cart button {
  width: 5%;
}

.des_pro_cart .tiempo-preparacion {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
  text-align: center;
}

.des_pro_cart .id {
  width: 1%;
  display: none;
}

.des_pro_cart .id-Cafeteria {
  display: none;
}

.cart-producto div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.cart-producto .id {
  font-weight: bold;
  font-size: 1.2rem;
}

.nombre {
  font-size: 3rem;
  font-weight: bold;
  height: 100%;
}

.nombre img{
  width: 150px;
  height: 150px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

.cart-producto .descripcion {
  font-size: 1rem;
}

.text_desc_pro {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2.5%;
  box-shadow: -5px -2px 5px rgba(0, 0, 0, 0.4);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  overflow: hidden;
}

.text_desc_pro div, .text_desc_pro hr{
  position: relative;
  z-index: 2;
}

.descripcion {
  width: 100%;
  padding: 2%;
  height: 30%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: justify;
}

.descripcion span{
  font-size: 1.2rem;
  font-weight: bold;
}

.descripcion span, .descripcion section{
  width: 100%;
}

.producto hr {
  border: 1.5px solid rgb(198, 198, 198);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.descripcion::-webkit-scrollbar {
  width: 5px;
}

.descripcion::-webkit-scrollbar-thumb {
  background: #000000;
  border-radius: 6px;
}

.costo {
  font-size: 1.7rem;
  font-weight: bold;
}

.cart-producto button {
  color: white;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  cursor: initial;
}

.reliz_pedido {
  background: #ee6107;
  color: rgb(255, 255, 255);
  width: 100%;
  font-weight: bold;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  height: 15%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.reliz_pedido:hover {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  background: #8e3b07;
  font-size: 1.3rem;
}

.txt_cart_tot{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 10%;
  padding: 5%;
  height: 80%;
  align-items: center;
  justify-content: space-between;
}

.fond_pro {
  position: absolute;
  height: 101%;
  width: 101%;
  top: -0.5%;
  left: -0.5%;
}
