.orders {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.orders-header {
  margin-bottom: 2rem;
}

.orders-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.orders-list h2 {
  margin-bottom: 1rem;
}

.orders-list p {
  margin-bottom: 2rem;
}

