.producto {
  display: flex;
  align-items: center;
  justify-content: end;
  transition: transform 0.3s ease-in-out;
  position: relative;
  -webkit-transition: transform 0.3s ease-in-out;
  -moz-transition: transform 0.3s ease-in-out;
  -ms-transition: transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  height: 77vh;
  width: 73%;
  margin-top: 1vh;
}

.producto button {
  transition: 0.2s;
  background: #ee6107;
  color: rgb(255, 255, 255);
  padding: 0.5rem 1rem;
  border-radius: 25px;
  text-decoration: none;
  margin-top: 1rem;
  border: 2px solid #ee6107;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.tiempo-preparacion{
  font-size: 1.5rem;
}

.producto button:hover {
  transition: 0.2s;
  background-color: #893a0a;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  color: white;
  font-weight: bold;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  border: 2px solid #893a0a;
}

.img_container{
  width: 100%;
  height: 100%;
}

.img_container img{
  width: 100%;
  height: 100%;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
}

.img_cont_pro{
  width: 50%;
  height: 94%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../../imagenes/fondotarj2.jpg");
}
.cant_cont{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1%;
  font-size: 1.3rem;
}
.cant_cont input{
  width: 20%;
  border: none;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  font-size: 1rem;
  text-align: center;
  font-size: 1.1rem;
}
.cant_cont svg{
  fill: rgb(255, 255, 255);
  height: 100%;
  width: auto;
  cursor: pointer;
  margin-left: 3%;
}

.producto_cont{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.1);
}

.opc_product{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.opc_product_btns{
  display: flex;
  flex-direction: column;
  width: 50%;
}

@media screen and (max-width:1138px){
  .text{
    margin-top: 10%;
  }
  .producto{
    flex-direction: column;
    width: 90%;
    height: auto;
  }
  .img_cont_pro {
    width: 100%;
    margin-bottom: 5%;
  }
  .text_desc_pro{
    width: 100%;
  }
}
@media screen and (max-width:434px){
  .text{
    font-size: 1.67em;
  }
}