.producto {
  display: flex;
  align-items: center;
  justify-content: end;
  transition: transform 0.3s ease-in-out;
  position: relative;
  -webkit-transition: transform 0.3s ease-in-out;
  -moz-transition: transform 0.3s ease-in-out;
  -ms-transition: transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  height: 77vh;
  width: 73%;
  margin-top: 1vh;
}

.producto button {
  transition: 0.2s;
  background: #ee6107;
  color: rgb(255, 255, 255);
  padding: 0.5rem 1rem;
  border-radius: 25px;
  text-decoration: none;
  margin-top: 1rem;
  border: 2px solid #ee6107;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.tiempo-preparacion{
  font-size: 1.5rem;
}

.producto button:hover {
  transition: 0.2s;
  background-color: #893a0a;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  color: white;
  font-weight: bold;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  border: 2px solid #893a0a;
}

.img_container{
  width: 100%;
  height: 100%;
}

.img_container img{
  width: 100%;
  height: 100%;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
}

.img_cont_pro{
  position: relative;
  width: 50%;
  height: 94%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../../imagenes/fondotarj2.jpg");
}
.cant_cont{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1%;
  font-size: 1.3rem;
}
.cant_cont input{
  width: 20%;
  border: none;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  font-size: 1rem;
  text-align: center;
  font-size: 1.1rem;
}
.cant_cont svg{
  fill: rgb(255, 255, 255);
  height: 100%;
  width: auto;
  cursor: pointer;
  margin-left: 3%;
  z-index: 1;
}

.producto_cont{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.1);
}

.opc_product{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.opc_product_btns{
  display: flex;
  flex-direction: column;
  width: 50%;
}

#nombre{
  font-size: 3rem;
  font-weight: bold;
}

#producto_contAA{
  height: initial;
}

#producto_contAA .text_desc_pro{
  background: white;
}

.input-form-contaienr{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input-form-contaienr section{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.input-form-contaienr section font{
  font-size: 1.5rem;
  color: white;
}

.input-form-contaienr font{
  background: none;
  border: none;
  color: rgba(255,255,255,0.6);
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
}

.input-form-contaienr input[type=text]{
  background: none;
  border: none;
  color: rgba(255, 255, 255, 0.5);
  font-family: "Poppins", sans-serif;
  width: 100%;
  outline: none;
  font-size: 1.1rem;
  border-bottom: 1px solid white;
  background: rgba(255,255,255,0.2);
  transition: 0.2s;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.input-form-contaienr input[type=text]:focus{
  transition: 0.2s;
  font-size: 1.2rem;
  border-bottom: 2px solid white;
  background: rgba(255, 255, 255, 0);
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  color: white;
}

/*#producto_contAA font{
  display: none;
}

#inp_btn font{
  display: block;
  cursor: pointer;
}*/

.img_cont_pro svg{
  height: 70px;
  width: 70px;
  fill: rgb(235, 235, 235);
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.img_cont_pro svg:hover{
  height: 80px;
  width: 80px;
  fill: white;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  cursor: pointer;
}

#img_cont_agrpro{
  height: 100%;
  width: 100%;
  filter: brightness(0.65);
  -webkit-filter: brightness(0.65);
}

#inp_btn{
  display: flex;
  justify-content: center;
  align-items: center;
}

#inp_btn font{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 78%;
}

#inp_btn input{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  cursor: pointer;
  font-size: 1.05rem;
  color: white;
  background: none;
  border: 2.5px solid #ee6107;
  padding: 8px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

#inp_btn input:hover{
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  font-size: 1.2rem;
  background: #ee6107;
}

@media screen and (max-width:1138px){
  .text{
    margin-top: 10%;
  }
  .producto{
    flex-direction: column;
    width: 90%;
    height: auto;
  }
  .img_cont_pro {
    width: 100%;
    margin-bottom: 5%;
  }
  .text_desc_pro{
    width: 100%;
  }
}
@media screen and (max-width:434px){
  .text{
    font-size: 1.67em;
  }
}